@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.header {
  position: absolute;
  bottom: 50%;
  transform-origin: center center;
  width: 100%;
  display: flex;

  @include tablet {
    bottom: 35%;
  }

  .headerItem {
    position: relative;
    flex: 1;
    @include flex(row, center, stretch);
    transform: scale(0.3);
    text-transform: uppercase;
    font-weight: 200;

    @include tablet {
      transform: scale(0.25);
    }

    &.headerItem1 {
      left: 18vw;
    }

    &.headerItem2 {
      right: 18vw;
    }

    .letter {
      font-size: 13vw;
      @include flex(row, center, center);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      @include tablet {
        flex: 1;
      }
    }
  }
}

// .projectSection {
//   height: 50vh;
//   width: 100%;

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.items {
  width: 100%;
  display: flex;
}

.itemsCol {
  flex: 1;
  display: flex;
}

.item {
  position: relative;
  top: 15vh;
  height: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.itemCopy {
  padding: 0.5em;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemCopyWrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.itemCopyWrapper p {
  position: relative;
  margin-bottom: 0.25em;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 100%;
}

.itemSide .itemImg {
  flex: 1;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.itemsCol:nth-child(2) {
  flex: 0 0 300px;
  display: flex;
  justify-content: center;
}

.itemMain {
  position: relative;
  top: 15vh;
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.itemMain .itemImg {
  overflow: hidden;
}

.itemMain .itemImg img {
  transform: scale(0.5);
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
}
// }
