@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
p {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 100%;

  @include desktop {
    font-size: 1.2rem;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
